.container {
  padding-top: 0;
  background-color: rgb(19, 19, 19);
  width: 100%;
  color: rgb(223, 223, 223);
  padding: 3rem 0;
}

.header {
  margin: 5rem 0;
}

.content {
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

.footContainer {
  padding-top: 40px;
  display: flex;
  justify-content: space-evenly;
}



.footContainer ul {
  margin: 0;
  padding: 0;
}

.footContainer li {
  padding: 6px;
  padding-left: 0px;
  list-style: none;
}

.buttonContainerAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 150px;
}

.myButtonAbout {
  width: 150px;
  height: 45px;
  border: none;
  color: white;
  background-color: rgb(0, 132, 255);
  border-radius: 5px;
  box-shadow: inset 1 0 0 0 rgb(0, 17, 255);
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
}

.myButtonAbout:hover {
  box-shadow: inset 150px 0 0 0 rgb(0, 81, 255);
  cursor: pointer;
  color: white;
}

