.background {
  color: white;
  background-image: url("../public/gitback.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.container {
  margin-inline: auto;
  width: 90%;
  max-width: 40rem;
  padding: 2rem  0;
}

.header h4{
  text-align: center;
  font-family: "Gravity-Regular";
  font-size: 1.9em;

}

.gitFootContainer {
  display: flex;
  justify-content: space-around;
}

.gitBlock {
  text-align: center;
  font-family: "Gravity-Light";
  font-size: 1.4em;
}

.num {

}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.myButton {
  width: 150px;
  height: 45px;
  border: none;
  color: black;
  background-color: rgb(218, 236, 225);
  border-radius: 5px;
  box-shadow: inset 1 0 0 0 rgb(51, 176, 70);
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
}

.myButton:hover {
  box-shadow: inset 150px 0 0 0 rgb(51, 176, 70);
  cursor: pointer;
  color: white;
}

.buttonContainerAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 80px;
}
