.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 3rem 0;
}

.header {
  margin-inline: auto;
  width: 90%;
  max-width: 48rem;
}

.header h3 {
  color: black;
  font-family: "Gravity-Light";
  text-align: center;
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 3.9em;
}

.youtubeFootContainer {
  display: flex;
  justify-content: space-around;
}

.youtubeBlock {
  text-align: center;
  font-family: "Gravity-Light";
  font-weight: 100;
}

.num {
  text-align: center;
  font-family:"Gravity-Light";
  font-size: 20px;
  font-weight: 700;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 7rem;
}

.myButton {
  width: 150px;
  height: 45px;
  border: none;
  color: white;
  background-color: rgb(0, 132, 255);
  border-radius: 5px;
  box-shadow: inset 1 0 0 0 rgb(0, 17, 255);
  transition: ease-out 0.3s;
  font-size: 1rem;
  outline: none;
}

.myButton:hover {
  box-shadow: inset 150px 0 0 0 rgb(0, 81, 255);
  cursor: pointer;
  color: white;
}
