@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



h1,
h2,
h3 {
  line-height: 1;
}

h2,
h3,
h4,
p {
  margin-bottom: 0em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner {
  background-image: url("../public/backimg.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: block;
  min-height: 100vh;
}

nav {
  border-color: rgb(220, 220, 220);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-family: "Gravity-Regular";
  transition: 0.6s;
  padding: 2.5rem 8rem;
  z-index: 1;
}

nav.sticky {
  padding: 0rem 8rem;
  background: #fff;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

nav ul li {
  padding: 0.5em 0.5em;
  list-style: none;
}

nav li {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

nav li:hover {
  background-color: rgba(190, 195, 200, 0.28);
}

nav ul li a {
  position: relative;
  margin: 0 35px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

nav.sticky ul li a {
  color: black;
}

.burg div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  display: none;
}

@media (max-width: 950px) {
  nav {
    padding: 1rem 5rem;
    justify-content: center;
    font-family: 'Robato', sans-serif;
    transition: 0.6s;
  }

  nav.sticky {
    padding: 1rem 5rem;
  }
  .navbar-links ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .burg div {
    display: flex;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
  }

  .burg:hover {
    background-color: rgba(190, 195, 200, 0.28);
    transition: 0.6s;
  }

  nav.sticky div {
    background-color: black;
  }

  nav.sticky ul li {
    text-align: center;
    padding: 0.3rem 0;
  }

  nav ul li {
    text-align: center;
    padding: 0.3rem 0;
  }

  .navbar-links ul.active {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
