@import "index.css";

.mainHeader {
  text-align: left;
  display: block;
  position: absolute;
  top: 60%;
  margin: 0 4rem;
}

.container {
  display: flex;
  margin-inline: auto;
  width: 90%;
  max-width: 49.5rem;
  padding: 3rem 0;
}

.container p {
  padding-bottom: 1em;
}

.header h1{
  padding: 3rem 0;
}

.footContainer {
  display: flex;
  justify-content: space-between;
}

.block {
  flex-basis: 12%;
}

.footContainer ul {
  list-style-type: none;
}

.footContainer li {
  padding: 6px 6px 6px 0;
}

.footContainer a:hover {
  background-color: rgba(190, 195, 200, 0.28);
}

.title {
  font-size: 3rem;
  font-family: 'Robato', sans-serif;
  color: white;
}

.description {
  font-family: 'Robato', sans-serif;
  color: white;
  font-size: 1.8rem;
  font-weight: 300;
}

.buttonContainerAbout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
}

